
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #6DA0A6;
}

/* Header */
.header {
    background-color: #A8BDBF;
    padding: 10px 20px;
    overflow: hidden;
}

h1 {
    font-size: 35px;
    margin-top: 70px;
    margin-left: 50px;
}

/* Navbar */
li {
    display: inline;
    float: right;
    padding: 5px;
    font-size: 1.5em;
}

li a:link {
    text-decoration: none;
}

li a:visited {
    text-decoration: none;
    color: #2a3f42;
}

li a:hover {
    color: black;
}

/* Footer */
.footer {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    background-color: #A8BDBF;
    text-align: center;
    padding: 10px 20px 5px 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;

}

.footer-about {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    background-color: #A8BDBF;
    text-align: center;
    padding: 10px 10px 0px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

/* Landing Page */
.paragraph {
    color: #142611;
    font-size: 5em;
    position: relative;
    top: .05px;
}

.coaster-image {
    float: right;
    position: absolute;
    top: 220px;
    right: 0px;
}

/* About Page */

.trevor1 {
    float: left;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

.p1 {
    position: relative;
    top: 150px;
    width: 1300px;
    font-family: 'Roboto Mono', monospace;
}

.time-2 {
    float: right;
    clear: both;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

.p2 {
    position: relative;
    top: 600px;
    right: 250px;
    width: 1300px;
    font-family: 'Roboto Mono', monospace;
}

.robotics {
    float: left;
    clear: both;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

.p3 {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    top: 900px;
    width: 1300px;
}

/* Hobbies */
.column1 {
    float: left;
    width: 350px;
    margin: 10px;
    text-align: center;
    align-content: center;
}

.trains {
    position: absolute;
    left: 85px;
}


.column2 {
    float: left;
    width: 350px;
    margin: 10px;
    text-align: center;
    align-content: center;
}

.rlink {
    position: absolute;
    left: 450px;
}

.column3 {
    float: left;
    width: 350px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.knex {
    position: absolute;
    right: 375px;
    bottom: 99px;
}

.column4 {
    float: left;
    width: 350px;
    margin: 10px;
    text-align: center;
}

figcaption {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 10px;
}